*{
    background-color: white;
    /*background-image: url("../images/background.png");*/
}

body{
    margin: 10%;
    border: 2px outset purple; 
    
}

h1{
    text-align: center;
}

h2, h3{
    text-decoration: overline;
    text-decoration-color: purple;
}

DT{
    color: purple;
    padding-bottom: 3%;
}

#pic-and-info{
    display: flex;
    justify-content: space-between;
}

#pic-and-info .info{
    width: 25%;
    padding: 2%;
}

#pic-and-info img{
    width: 100%;
    position: relative;
}

#pics{
    margin: 10px;
    width: 20%;
    height: 40%;
    display: flex;  
    flex-wrap: wrap;
}

#blursed{
    z-index: 1;
    display: none;
}

#md{
    display: unset;
    z-index: 2;
}

#toggle{
    z-index: 3;
    text-align: center;
}

#stats, #emails{
    padding: 3%;
}

#specific-info{
    display: flex;
}